Flask==2.3.3
Flask-CORS==4.0.0
Werkzeug==2.3.7
Jinja2==3.1.2
MarkupSafe==2.1.3
itsdangerous==2.1.2
click==8.1.7
blinker==1.6.3
requests
pywebview
googletrans==4.0.0rc1
transformers
textblob
torch
rispy
bibtexparser
mammoth
python-docx
sentence-transformers
PyPDF2
textract
numpy
langdetect